<a href="https://colab.research.google.com/github/imad14205/cours-data-analyst/blob/main/01_01_Les_Types_de_Variables_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Module 1 : Les bases de Python üêç**

# Les Variables et op√©rateurs

Une variable est comme une case de m√©moire dans notre ordinateur, √† laquelle on donne un nom et une valeur qui peut changer. Sur la figure suivante, nous avons un carton app√©l√© `Variable` et dans laquelle on met de la donn√©e (Data). On peut changer le contenu du carton ou y ajouter plusieurs autres √©l√©ments.

![variables.png]()

Voici comment d√©finir une variable avec sa valeur en Python :

In [1]:
poids = 89

Ici, nous avons donn√© le nom `poids` √† notre variable et elle contient la valeur 89. La valeur d'une variable peut changer, donc on peut faire ceci:

In [2]:
poids = 82

D√©sormais, notre variable `poids` contient la valeur 82. On peut l'afficher pour v√©rifier avec le fonction `print`

In [19]:
print(poids)

82

Pour donc affichier la valeur d'une variable, il faut √©crire `print` suivi de parath√®ses `()` avec √† l'int√©rieur le nom de notre variable. Puisqu'on est dans un notebook, on peut aussi afficher la valeur d'une variable simplement en tapant le nom comme ceci :

In [20]:
poids

82

Que se passe-t-il quand je nomme ma variable `2poids` pour dire que c'est un second poids ? Essayons:

In [18]:
2poids = 25

On obtient une erreur. Cela est d√ª au fait qu'en Python le nom d'une variable ne peut commencer par un chiffre. Par convention, il est recommand√© d'utiliser les lettres miniscules et le tiret du 8 `_` pour nommer une variable. N'oublions pas que le nom ne peut contenir un espace. Une variable pour designer l'√¢ge de Kevin pourrait donc s'appeler `lage_de_imad`.

In [21]:
lage_de_imad = 31

On peut faire des op√©rations math√©matiques sur les variables :

**addiction**

In [22]:
15 + 30

45

In [25]:
nombre = 5
print(nombre + 4)

9

regarder la simpliciter de python en le comparant par C

In [23]:
%%writefile addition.c

#include <stdio.h>

int main() {
    int a = 15;
    int b = 30;
    int somme = a + b;

    printf("La somme de %d et %d est : %d\n", a, b, somme);

    return 0;
}

Writing addition.c

In [24]:
!gcc addition.c -o addition_executable
!./addition_executable

La somme de 15 et 30 est : 45

**soustraction**

In [26]:
96 - 12

84

In [27]:
print(nombre - 2)

3

**Multiplication**

In [28]:
5 * 3

15

In [29]:
print(nombre * 2)

10

**Division**

In [30]:
27 / 9

3.0

In [31]:
25 / 2

12.5

On peut d√©cider d'extraire uniquement le quotient de la division (le resultat de la division sans virgule)

In [32]:
25 // 2

12

**Exposant**

In [33]:
2 ** 5

32

In [34]:
15 ** 0

1

**Modulo (Reste de la division)**

In [35]:
89 % 2

1

On peut donc dire qu'un nombre est pair par exemple si ce nombre modulo 2 est 1 et non 0

In [36]:
est_pair = 27 % 2

In [37]:
est_pair

1

On peut stocker le resultat de l'op√©ration sur une variable avec le m√™me nom

In [38]:
nombres_de_voitures = 5

In [39]:
nombres_de_voitures = nombres_de_voitures + 15

In [42]:
nombres_de_voitures

50

on peut r√©ecrire l'op√©ration de cette mani√®re

In [43]:
nombres_de_voitures += 15

In [44]:
nombres_de_voitures

65

In [45]:
nombres_de_voitures -= 3

In [46]:
nombres_de_voitures

62

In [47]:
nombres_de_voitures /= 2

In [48]:
nombres_de_voitures

31.0

In [ ]:
nombres_de_voitures *= 3

In [ ]:
nombres_de_voitures

**Ordre de priorit√© des op√©ration: P E M D A S**

Il existe un ordre d'ex√©cution des op√©rations en Python. Il s'agit de :
* Parenth√®ses
* Exposants
* Multiplication
* Division
* Addition
* Soustraction

In [ ]:
15 + 8 * 3 ** 2

87

In [ ]:
(15 + 8) * 3 ** 2

207

# Les Types de variables en Python

Il existe plusieurs types de variables en Python.

## Les nombres entiers

In [ ]:
age = 15

15 est un nombre entier. En anglais, on dit que 15 est un `integer` ou encore `int` pour faire court. On peut v√©rifier le type d'une variable en utilisant la fonction `type` comme ceci :

In [ ]:
type(age)

int

## Les nombres √† virgules

In [ ]:
taille = 1.83

1.83 est un nombre √† virgule. Il faut noter ici que la virgule est repr√©sent√©e par un point. C'est la convention en anglais. `1,83` n'est donc pas un nombre √† virgule si vous l'ecrivez comme ca. En anglais, on appelle un nombre √† virgule, `float`

In [ ]:
type(taille)

float

## Les cha√Ænes de caract√®res

On a vu les nombres. Place aux chaines de caract√®res. Un mot est une chaine de caract√®res. Une lettre est une chaine de caract√®res avec un seul √©l√©ment. Pour dire √† Python qu'une variable est une chaine de caract√®re ou encore `string`, on la met en des guillemets comme ceci `"blabla"` ou `'blabla'`.

In [ ]:
nom = "Kevin"

In [ ]:
type(nom)

str

Que se passe-t-il si je mets un nombre entre des guillemets. Essayons et v√©rifions le type.

In [ ]:
nombre = "15"

In [ ]:
type(nombre)

str

nombre est apparemment un `str (string)`, ce qui veut dire que toute chose qu'on mettra entre des guillemets est une chaine de caract√®res

## Changement de Type

Il est possible de modifier le type d'une variable apr√®s l'avoir cr√©er.

In [ ]:
numero = "15"

In [ ]:
type(numero)

str

In [ ]:
numero_int =  int(numero)

In [ ]:
type(numero_int)

int

Mais attention, il faut que la variable soit convertible.

In [ ]:
numero = "1589kil"

In [ ]:
int(numero)

ValueError: invalid literal for int() with base 10: '1589kil'

In [ ]:
age = 15

In [ ]:
str(age)

'15'

In [ ]:
poids = "18.69"

In [ ]:
float(poids)

18.69

In [ ]:
poids = float(poids)

In [ ]:
poids

18.69

En resum√©, on peut modifier les types int et float en str. Mais pour convertir un str en int ou float, il faut que le str ait un nombre entre les guillemets. En convertissant un float en int, on perd la partie apr√®s la virgule, et en converstissant un int en float, on lui ajoute `.0` √† la fin.

## Les listes

Les 3 types que nous avons vu sont des types primitifs. Les autres types que nous verrons seront des `collections` de ces types primitifs.

Le premier type est le type list. Une liste est simplement une collection ordonn√©e d'√©l√©ments. Comment cr√©er une liste en Python ?

In [ ]:
notes = [18, 15, 13, 20]

Une liste ne contient pas que des nombres.On peut stocker n'importe quel type de donn√©es dans une liste. La liste suivante contient m√™me une liste:

In [ ]:
blabla = ["Kevin", 15, 25.25, [5], "1"]

On a dit qu'une liste √©tait une collection ordonn√©e d'√©l√©ments. C'est √† dire que chaque √©l√©ment de la liste a une position. On peut donc r√©f√©rencer un √©l√©ment ou l'extraire avec sa position. **En Python, les positions commencent √† partir de 0, on parle de l'index d'un √©l√©ment dans une liste**. Essayons d'extraire le premier √©l√©m√©nt de la liste `notes`, c'est l'√©l√©ment `18` dont l'index est 0.

In [ ]:
notes[0]

18

Troisi√®me √©l√©ment de la liste: index 2 ?

In [ ]:
notes[2]

13

Pour donc extraire un √©l√©ment d'une liste, on fait `nom_de_la_variable`[index].

L'index peut aussi √™tre n√©gatif. Dans ce genre de cas, on compte les √©l√©ments √† partir du dernier √©l√©ment de la liste. Notre liste `notes` se termine par 20. Son index est 3, mais aussi -1

In [ ]:
notes[-1]

20

In [ ]:
notes[-2]

13

Je peux attirer ton attention sur la liste blabla, qui contient √† l'index 3 une liste qui contient un seul √©l√©ment. Essayons de l'afficher:

In [ ]:
blabla[3]

[5]

V√©rifions son type :

In [ ]:
type(blabla[3])

list

Il est possible de modifier les √©l√©ments d'une liste. Dans notre liste `notes`, l'√©tudiant qui a eu 13 a re√ßu un bonus de 2 points. S nouvelle note est 15. Faisons la modification.

In [ ]:
notes = [18, 15, 13, 20]

In [ ]:
notes[-2]

13

In [ ]:
notes[-2] = 15

In [ ]:
notes

[18, 15, 15, 20]

Pour donc modifier un √©l√©ment dans une liste, il faut extraire et faire `= nouvelle valeur ou √©l√©ment`.

Il est possible d'extraire une plage d'√©l√©ment dans une liste. Par exemple, on se demande quelles sont 2 premiers √©l√©ments dans notre liste, c'est √† dire les √©l√©ments dont les indexs sont 0 et 1. Il s'agit de 18 et 15. Voyons comment faire:

In [ ]:
notes[0:2]

[18, 15]

Oh, il s'agit l√† d'une nouvelle notation. Entre les crochets, on a `0:2`. On dirait qu'on a fait `index du premier element : index du dernier element + 1`. Verifions si c'est vrai en extrayant les 3 derniers √©l√©ments, c'est √† dire les √©lements 15, 15 et 20. L'index du premier √©l√©ment est 1 et le dernier est 3, on fera donc `1:3+1`. Essayons:

In [ ]:
notes[1:4]

[15, 15, 20]

On dirait que ca marche. C'ext excellent. Est-ce que c'est possible de faire la m√™me extraction avec les indexs n√©gatifs. Essayons d'extraire les deux 15 au milieu de la liste. L'index du premier 15 est -3 et celui du second 15 est -2, on fera donc `-3: -2+1`. Essayons:

In [ ]:
notes[-3: -1]

[15, 15]

> Question : Que se passe-t-il quand j'omet, l'index avant le : et quand j'omet celui apr√®s le : .
En gros, que me donnera `notes[ : 2]` et `notes[-3 : ]`

Pour la suite de notre d√©couverte des listes, nous allons utiliser une liste qui contient diff√©rents types d'√©l√©ments.

In [ ]:
liste_aleatoire = [ 14, 58, 45, -9, "ballon", "kevin", 12]

Quelle est la taille de cette liste ?

In [ ]:
len(liste_aleatoire)

7

On a 7 √©l√©ments dans notre liste, donc les indexs vont de 0 √† 6. `len()` est une fonction utilis√© pour connaitre la taille d'une collection, nous verra qu'elle est aussi utilis√© pour les prochaines collections.

Comment ajouter le mot `python` √† notre liste. Cet √©l√©ment aura l'index 7. Peut-on faire

`liste_aleatoire[7] = "python"` ? Essayons voir :

In [ ]:
liste_aleatoire[7] = "python"

IndexError: list assignment index out of range

On obtient une erreur. Quand je traduis cette erreur en Fran√ßais, ca donne :
> IndexError: index d'affectation de liste hors limites

On dirait que Python a essay√© de faire une modification et l'index 7 est hors des limites 0-6 de notre liste.
Comment faire alors ? Voici une opportunit√© de chercher sur Google `Comment ajouter un √©l√©ment √† une liste Python ?`. Apprendre √† trouver les solutions √† ces probl√®mes gr√¢ce √† Google est une qualit√© important de tout programmeur.

Voici la solution :

In [ ]:
liste_aleatoire.append('python')

In [ ]:
liste_aleatoire

[14, 58, 45, -9, 'ballon', 'kevin', 12, 'python']

C'est bien tout √ßa, mais et si je souhaite ajouter le mot `data` entre 45 et -9 au lieu de l'ajouter √† la fin de la liste. On parle alors d'insertion dans une liste. Tu peux √©galement chercher sur Google rapidement avant de continuer.

L'index de 45 est 2. Si un mot est ajout√© juste √† c√¥t√© de 45, il aura donc l'index 3. On peut utiliser la fonction `insert()` pour le faire.

In [ ]:
liste_aleatoire.insert(3, 'data')

In [ ]:
liste_aleatoire

[14, 58, 45, 'data', -9, 'ballon', 'kevin', 12, 'python']

Maintenant, on veut supprimer l'√©l√©ment -9 pour n'avoir que des nombres positifs. Encore une opportunit√© de chercher sur Google `Comment supprimer un √©l√©ment d'une liste Python`.

In [ ]:
liste_aleatoire.remove(-9)

In [ ]:
liste_aleatoire

[14, 58, 45, 'data', 'ballon', 'kevin', 12, 'python']

L'√©l√©ment -9 a √©t√© supprim√©. C'est parfait. On utilise donc la fonction remove pour supprimer l'√©l√©ment.
> Question : Et si on avait -9 plusieurs fois dans la liste, la fonction remove va-t-elle tous les supprimer ?

Et si on ne connait pas l'√©l√©ment qu'on veut supprimer mais son index. Comment le supprimer ?
> Toi: C'est simple, on affiche l'√©lement avec `liste_aleatoire[index]` et on fait `remove()` avec l'√©l√©ment qui s'est affich√©

> Moi: Bravo, c'est une tr√®s bonne technique. Mais je te propose un raccourci. Tu peux supprimer l'√©l√©ment avec `del liste_aleatoire[index]`.Le mot cl√© `del` permet de supprimer un √©l√©ment sans le connaitre.

> Toi: Hummmmm, tr√®s interessant √ßa. J'ai une question: Comment puis-je r√©cuperer l'index d'un √©l√©ment que je connais. Imagine que ma liste contient 156 √©l√©ments et que je ne peux pas le voir. Comment je peux recuperer l'index de l'√©l√©ment - 9

> Moi: Google est ton ami. Voil√† encore une occassion de chercher. Si tu trouves la solution, informe-moi sur Discord √† https://discord.gg/sHE5exZ  .

In [ ]:
del liste_aleatoire[1]

In [ ]:
liste_aleatoire

[14, 45, 'data', 'ballon', 'kevin', 12, 'python']

Nous venons de voir plusieurs concepts concernant les listes. Prend le temps de cr√©er une liste, y ajouter des √©l√©ments, extraire une plage d'√©l√©ment, supprimer un √©l√©ment ou une plage d'√©l√©ment. Cela te permettra de consolider ce que tu as appris pour la suite. Tu peux √©galement Faire les exercices de Python qui se trouvent [ici](https://www.w3schools.com/python/exercise.asp?filename=exercise_lists1).

Nous n'avons pas vu toutes les fonctions de Python pour les listes. Tu peux en d√©couvrir d'autres [ici](https://www.w3schools.com/python/python_lists_methods.asp)
Voici quelques questions pour guider tes recherches :
* Comment trier une liste de nombres du plus petit au plus grand, et inversement ?
* Peut-on ordonner une liste qui contient des nombres et des chaines de caract√®res ?
* Comment compter le nombre de fois qu'apparait un √©l√©ment dans une liste ?

## Les tuples

Le second type de collections de donn√©es que nous allons voir est le type **tuple**. Les tuples sont commes les listes mais avec des parenth√®ses **( )** au lieu des crochets **[ ]**.

In [ ]:
un_tuple = (2, 5 , 9)

In [ ]:
type(un_tuple)

tuple

Mais en quoi diff√©re-t-il des listes? Essayons de voir si on peut faire les m√™mes op√©rations qu'on a faite avec les listes.

EXtraire un √©l√©ment ?

In [ ]:
un_tuple[2]

9

Peut-on remplacer les crochets par les parenth√®ses pour l'extraction ?

In [ ]:
un_tuple(2)

TypeError: 'tuple' object is not callable

Oh, les parenth√®ses comme ca, c'est pour les fonctions qu'on verra plus tard.

Extraire une plage d'√©l√©ments dans un tuple:

In [ ]:
un_tuple[0:2]

(2, 5)

Modifier les √©l√©ments d'un tuple :

In [ ]:
un_tuple[1] = 15000

TypeError: 'tuple' object does not support item assignment

Oh, apparemment, on ne peut pas modifier un tuple. Peut-on lui ajouter un √©l√©ment ?

In [ ]:
un_tuple.append(15000)

AttributeError: 'tuple' object has no attribute 'append'

Apparemment, non plus. Peut-on supprimer un √©l√©ment ?

In [ ]:
del un_tuple[1]

TypeError: 'tuple' object doesn't support item deletion

Impossible. Donc on peut dire qu'un tuple est pas modifiable une fois qu'il a √©t√© cr√©e. On dit qu'un tuple est immuable. Ce type de variable peut √™tre utilis√© pour sauvegarder des √©l√©ments qui ne changent pas, comme le nom des jours de la semaine, la temp√©rature √† laquelle, l'eau devient glace et autres

In [ ]:
jours = ('lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche')

Ici se trouve 4 exercices pour toi sur les tuples : https://www.w3schools.com/python/exercise.asp?filename=exercise_tuples1.
Il existe un second type de variable qui ressemble aux listes, qu'on appelle **sets**. Je t'encourage √† le chercher et comprendre comment on l'utilise et √† quoi ca sert. Voici un lien pour t'aider : https://www.w3schools.com/python/python_sets.asp

## Les dictionnaires

Le dernier type de variable que nous allons voir est le type **dictionnaire**. Un dictionnaire est simplement une collection de cl√©-valeurs comme par exemple un annuaire qui est une collection de nom-numero de t√©l√©phone. Cr√©eons justement un annuaire.

In [ ]:
annuaire = {"kevin": "06545885852",
            "radji": "06466548454"}

Un dictionnaire c'est donc le format **cl√© : valeur** s√©par√© par une virgule et le tout est dans des accolades **{}**

In [ ]:
type(annuaire)

dict

Quel est le num√©ro de kevin ?

In [ ]:
annuaire["kevin"]

'06545885852'

Cela ressemble √† comment on a extrait les √©lements d'une liste. Mais cette fois-ci, au lieu de l'index, on met le cl√© entre les crochets.

Dans notre exemple, la cl√© et la valeur sont des chaines de caract√®res. Peut-on avoir comme valeur une liste par exemple ?

In [ ]:
annuaire = {"kevin": "06545885852",
            "radji": "06466548454",
            "rock_ray": ["066545", "06454"]}

In [ ]:
print(annuaire)

{'kevin': '06545885852', 'radji': '06466548454', 'rock_ray': ['066545', '06454']}

C'est possible. Combinons nos comp√©tences en listes et dictionnaires pour extraire le 1er num√©ro de rock_ray

In [ ]:
annuaire["rock_ray"]

['066545', '06454']

In [ ]:
annuaire["rock_ray"][0]

'066545'

Peut-on lui ajouter un 3√®me num√©ro ?

In [ ]:
annuaire["rock_ray"].append("06545451")

In [ ]:
annuaire

{'kevin': '06545885852',
 'radji': '06466548454',
 'rock_ray': ['066545', '06454', '06545451']}

> Question : Peut-on cr√©er une liste de dictionnaire ?,
La cl√© peut-elle √™tre un nombre (int ou float) ?
La cl√© peut-elle √™tre un dictionnaire ?

Comment modifier un dictionnaire ? Ici on veut modifier le numero de kevin.

In [ ]:
annuaire['kevin'] = "0606060606"

In [ ]:
annuaire

{'kevin': '0606060606',
 'radji': '06466548454',
 'rock_ray': ['066545', '06454', '06545451']}

Et si on veut changer la cl√© ? C'est comme si on voulait changer l'index d'une liste: C'est impossible. IL faut supprimer l'√©l√©ment et y ajouter la nouvelle cl√©-valeur. Alors comment supprimer une cl√©-valeur ?

In [ ]:
del annuaire['rock_ray']

In [ ]:
annuaire

{'kevin': '0606060606', 'radji': '06466548454'}

Ca fonctionne. Comment ajouter une nouvelle cl√©-valeur. Il suffit de faire :

In [ ]:
annuaire['sos'] = "911"

In [ ]:
annuaire

{'kevin': '0606060606', 'radji': '06466548454', 'sos': '911'}

In [ ]:
un_dict = {2: "deux",
           5:"cinq",
           3:"trois"}

Quelle est la taille de ce nouveau dictionnaire ? C'est √† dire combien de cl√©-valeurs. On avait utilis√© la fonction **len** pour les listes. Est-ce que ca marche pour les dictionnaires ?

In [ ]:
len(un_dict)

3

La r√©ponse est Oui

In [ ]:
un_dict[2]

'deux'

In [ ]:
un_dict[1]

KeyError: 1

In [ ]:
un_dict[5]

'cinq'

Revenons √† notre annuaire. Comment l'organiser par ordre alphab√©tique selon la cl√©. Je t'invite √† chercher une fois de plus la r√©ponse sur Google

In [ ]:
annuaire['bob'] = "568978"
annuaire

{'kevin': '0606060606', 'radji': '06466548454', 'sos': '911', 'bob': '568978'}

In [ ]:
sorted(annuaire.items(), key=lambda t: t[0])

[('bob', '568978'),
 ('kevin', '0606060606'),
 ('radji', '06466548454'),
 ('sos', '911')]

Tu n'es pas cens√© comprendre ce qu'on vient de faire. On a utilis√© la fonction **lambda** qui est une fonction sp√©ciale en Python. Ce qu'il faut retenir c'est la fonction items()

In [ ]:
annuaire.items()

dict_items([('kevin', '0606060606'), ('radji', '06466548454'), ('sos', '911'), ('bob', '568978')])

Cette fonction nous retourne une liste de tuple, chaque tuple contenant la cl√© et la valeur.

Voici 2 autres fonctions qui peuvent t'interesser

In [ ]:
annuaire.keys()

dict_keys(['kevin', 'radji', 'sos', 'bob'])

In [ ]:
annuaire.values()

dict_values(['0606060606', '06466548454', '911', '568978'])

Nous venons donc finir de voir le type dictionnaire. C'est le moment une fois de plus de pauser et reprendre ce qu'on a fait. Cr√©er un dictionnaire, modifie le, ajoute des √©lements et supprime √©galement quelques uns.
Tu peux aussi explorer d'autres fonctions de dictionnaires ici : https://www.w3schools.com/python/python_dictionaries_methods.asp et faire des exercices ici : https://www.w3schools.com/python/exercise.asp?filename=exercise_dictionaries1

## Chaine de caract√®res: Es-tu une collection comme liste ?

Quand on y pense, les cha√Ænes de caract√®res peuvent √™tre consid√©rer√©s comme une collection de caract√®res. Par exemple, sa taille serait le nombre de caract√®res et chaque caract√®re aura un index comme dans les liste. Essayons voir.

In [ ]:
nom = "Kevin"

In [ ]:
len(nom)

5

In [ ]:
nom[0]

'K'

In [ ]:
nom[:4]

'Kevi'

Eh bah, ca fonctionne. Essayons de modifier une lettre.

In [ ]:
nom[0] = "k"

TypeError: 'str' object does not support item assignment

Apparement, on ne peut pas modifier une lettre dans une chaine de caract√®re. Par contre on peut concatener des chaines de caract√®res comme ceci:

In [ ]:
nom

'Kevin'

In [ ]:
nom + " Degila"

'Kevin Degila'

In [ ]:
"bonjour" +  "a toi"

'bonjoura toi'

> Question: Que se passe-t-il quand on additionne des listes ou des dictionnaires ? Si on peut additionner, peut-on multiplier ? Et la soustraction, c'est possible ?

Voyons d√©sormais quelques fonctions interessantes pour les str

In [ ]:
bootcamp = 'data science'

In [ ]:
bootcamp.title()

'Data Science'

In [ ]:
bootcamp.lower()

'data science'

In [ ]:
bootcamp.upper()

'DATA SCIENCE'

In [ ]:
bootcamp.count('a')

2

Comme d'habitude, Voici o√π trouver d'autres fonctions : https://www.w3schools.com/python/python_strings_methods.asp

Et Voici quelques exercices int√©ressants : https://www.w3schools.com/python/exercise.asp?filename=exercise_strings1

## Les F-strings

Avant de cloturer ce notebook, parlons d'un concept particulier.

On a les variables `nom`, `prenom`,  `age` et on aimerait afficher un message sp√©cial du genre:
> Je suis `prenom` `nom` et j'ai `age` ans. Voici comment le faire :

In [ ]:
nom = "Degila"
prenom = "Kevin"
age = 23

In [ ]:
message = f"Je suis {prenom} {nom} et j'ai {age} ans"

In [ ]:
print(message)

Je suis Kevin Degila et j'ai 23 ans

Un f-string est une chaine de caract√®res qui commence par un f avant les " ", et dans laquelle on garde le nom des variables mais en les gardant entre des accolades { }. Ce qui est int√©ressant, c'est qu'entre ces { }, du code python peut s'executer. Exemple :

In [ ]:
print(f"Je suis {prenom} {nom} et j'ai {age + 20} ans")

Je suis Kevin Degila et j'ai 43 ans

On a ajout√© 20 √† mon age dans les accolades et la somme a √©t√© faite. Voil√† le strict n√©c√©ssaire √† savoir concernant les f-strings. Je t'invite √† [lire](https://realpython.com/python-f-strings/) un peu plus sur ces chaines de caract√®res particulieres et tout ce qu'on peut faire avec.